services:
  bot:
    image: bot:latest
    build:
      context: .
      dockerfile: src/DiscordMusicBot/Dockerfile
    restart: unless-stopped
    env_file:
      - bot.env
    depends_on:
      - db
      - lavalink
    networks:
      - lavalink_net
      - db_net
      - bot_net
    ports:
      - "8080:8080"
  
  web-interface:
    image: web-interface:latest
    build:
      context: src/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - bot
    networks:
      - bot_net
    ports:
      - "4747:4747"

  db:
    image: mongo:latest
    restart: unless-stopped
    env_file:
      - mongo.env
    volumes:
      - ./db-data:/data/db
    networks:
      - db_net
    expose:
      - 27017

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:latest-alpine
    restart: unless-stopped
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
      - ./lavalink/plugins:/opt/Lavalink/plugins
    networks:
      - lavalink_net
    expose:
      - 2333

networks:
    lavalink_net:
      name: lavalink_net
    db_net:
      name: db_net
    bot_net:
      name: bot_net
